<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= board.name %></title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/board.css">
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/fL9NL4F6/logo.png">
</head>
<body>
<div class="profile-header-container">
    <img class="header-image" src="/<%= board.header_image %>" alt="Header Image" onerror="this.onerror=null;this.src='/uploads/default_header.png';">
    <img class="profile-image" src="/<%= board.profile_image %>" alt="Profile Image" onerror="this.onerror=null;this.src='/uploads/default_profile.png';">
</div>
<div class="board-content">
    <h1 class="board-Title" ><%= board.name %></h1>
    <p class="board-description" ><%= board.description %></p>
    <button id="joinButton">Join</button>
</div>
</body>
</html>