<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= board.name %></title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/board.css">
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/fL9NL4F6/logo.png">
</head>
<body>

<div class="header">
    <h1>Whaaa</h1>
    <div class="home-buttons">
        <a href="/">Home</a>
        <a href ="/discovery">Discovery</a>
        <a href="/events">Events</a>
        <a href="/rnd">Free Space</a>
        <a href="/about-us">About us</a>
    </div>
    <div class="user-buttons">
        <% if (user) { %>
            <span>Logged in as: <%= user %></span>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Log in</a>
            <a href="/register">Register</a>
        <% } %>
    </div>
</div>
<!-- END HEADER -->

<div class="profile-header-container">
    <img class="header-image" src="/<%= board.header_image %>" alt="Header Image"
         onerror="this.onerror=null;this.src='/uploads/default_header.png';">
    <img class="profile-image" src="/<%= board.profile_image %>" alt="Profile Image"
         onerror="this.onerror=null;this.src='/uploads/default_profile.png';">
</div>

<div class="board-content">
    <h1 class="board-Title"><%= board.name %></h1>
    <p class="board-description"><%= board.description %></p>
    <p class="board-owner">Owner: <%= ownerName %></p>
    <% if (currentUserId !== ownerId && !isMember) { %>
        <form action="/join/<%= board.id %>" method="POST">
            <button id="joinButton" type="submit">Join</button>
        </form>
    <% } %>
</div>

<div class="board-general">
    <div class="board-header">
        <div class="board-tabs">
            <button class="tab-button" onclick="openTab('posts')">Posts</button>
            <button class="tab-button" onclick="openTab('chat')">Chat</button>
            <button class="tab-button" onclick="openTab('source')">Source</button>
        </div>
        <div class="board-members">
            <h2>Board Members</h2>
            <!-- List of board members here -->
        </div>
    </div>

    <div id="posts" class="tab-content">
        <h2>Posts</h2>
    </div>

    <div id="chat" class="tab-content" style="display:none;">
        <h2>Chat</h2>
    </div>

    <div id="source" class="tab-content" style="display:none;">
        <h2>Source</h2>
    </div>
</div>

<script>
    function openTab(tabName) {
        var i, tabcontent, tabbuttons;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tabbuttons = document.getElementsByClassName("tab-button");
        for (i = 0; i < tabbuttons.length; i++) {
            tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " active";
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".tab-button").click();
    });

</script>
</body>
</html>